<!DOCTYPE html>
<html lang="en">

{% from "bootstrap5/form.html" import render_form %}

<body>
    {% set icon_class = "bi-house-fill" %}
    {% set header_title = "Contact" %}
    {% include "header.html" %}

    <div class="main-content">
        <div class="container" style="padding-top: 10px;">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content') }}
            {{ render_form(form) }}

            <div class="pt-5">
                {% if message %}
                  <div class="alert-success">
                    <h6 style="color: green">{{ message }}</h6>
                  </div>
                {% endif %}
                {% if error_message %}
                  <div class="alert-success">
                    <h6 style="color: red">{{ message }}</h6>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>