<!DOCTYPE html>
<html lang="en">

<body>

{% set icon_class = "bi-search" %}
{% set header_title = "Review" %}
{% include "header.html" %}

<div class="main-content">
    <main class=container>
        <div class="d-flex p-4 p-md-5 mb-2 rounded text-body-emphasis text-center justify-content-center">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic fw-bold">{{ data['title'] }}</h1>
                <p class="lead my-3">{{ data['description'] }}</p>
            </div>
        </div>

        <div class="row mb-5 justify-content-center">
            <div class="col-md-5">
                <div class="black-border row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col d-flex flex-column position-static">
                        <img src="{{ url_for('static', filename=data['img_url_1']) }}" class="rounded">
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="black-border row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col d-flex flex-column position-static">
                        <img src="{{ url_for('static', filename=data['img_url_2']) }}" class="rounded">
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center my-3">
            <a href="{{ data['github_link'] }}"
               class="lead text-decoration-none" target="_blank" rel="noopener noreferrer">
                View the project on GitHub
            </a>
        </div>

    </main>
</div>

{% include "footer.html" %}

</body>

</html>